extends layout

block content
  
	//h1= title

	div#progress-bar

	script(id='template', type='text/ractive')
		p Hello, {{name}}!

		br

		{{#progressBar}}
		div.col-xs-12.col-sm-4
			div.pb 
				div.pb-colour(style="width:{{value}}%; background:{{over ? 'red' : '#888'}}") 
				div.pb-text {{value}}%
		{{/progressBar}}

		
		div.col-xs-12.col-sm-4
			select(value='{{selectedProgressBar}}')
				{{#progressBar}}
				option(value='{{id}}') {{name}}
				{{/progressBar}}
		
		div.col-xs-12.col-sm-8			
			button(on-click="changeValue:-25") -25
			button(on-click="changeValue:-10") -10
			button(on-click="changeValue:10") +10
			button(on-click="changeValue:25") +25

	script(src='/js/pb-ractive.js')


